
.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    width: 100%;
    color: white;
}

.logo{
    display: flex;
    flex: auto;
    justify-content:center;
    border:1px solid red;
    width: 20%;
}

.links{
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    border: 1px solid red;
    color: white;
}

a{
    display: inline-block; margin-right: 15px;
}
.cont2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid red;
    background-color: #1f2937);}


.coin {
    width: 200px;
    height: 180px;
    border:5px solid #3882f6;
}
.Coins{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    align-items: space-between;
    
}
.coin-container {
display: flex;
justify-content: space-between;
width: 100%;

}